* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: sans-serif;
  text-decoration: none;
}

:root {
  --size: 2px;
  --ranking-bg: rgb(26, 26, 26);
  --usr-color: rgb(0, 217, 255);
  --bot-color: rgb(255, 0, 0);
}
.hide {
  display: none !important;
}
#starting {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  #botStarter {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    button {
      background: rgb(112, 0, 0);
      box-shadow: inset 0 0 17px 5px var(--bot-color);
    }
    #typeOfGame {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: none;
      font-weight: bold;
      color: white;
      li {
        input {
          accent-color: var(--bot-color);
        }
        label {
          margin: 0 0 0 10px;
        }
      }
    }
  }

  button {
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 17px 5px rgb(0, 55, 255);
    cursor: pointer;
  }
}
main {
  position: absolute;
  padding: 10px;
  width: 350px;
  border-radius: 10px;
  height: 424px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 132, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#rank {
  margin: 13px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 250px;
  background: var(--ranking-bg);
  color: white;
  border-radius: 10px;
  padding: 7px;
  user-select: none;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #usr {
    color: var(--usr-color);
  }
  #gameType {
    position: relative;
    text-transform: capitalize;
    &::after {
      content: "";
      position: absolute;
      background: var(--ranking-bg);
      border-radius: 10px;
      top: -14px;
      z-index: -1;
      left: 0;
      width: 100%;
      height: 30px;
    }
  }
  #bot {
    color: var(--bot-color);
    text-transform: capitalize;
  }
}
#container {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  .box_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    &:nth-child(2) .box:nth-child(1n) {
      border: var(--size) solid rgb(255, 255, 255);
      border-left: none;
    }
    &:nth-child(1n) .box:nth-child(3) {
      border-right: none;
    }
  }

  .box {
    background: none;
    cursor: pointer;
    border-right: var(--size) solid rgb(255, 255, 255);
    .animation {
      display: block;
      font-size: 80px;
      cursor: pointer;
      width: 100%;
      height: 100%;
      transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transform: scale(0);
    }
  }
  .botBox {
    color: var(--bot-color);
  }
  .usr1Box {
    color: var(--usr-color);
  }
}
.blink {
  animation: blinking 0.3s ease infinite;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
